# Node modules
node_modules
hooks
info
logs
objects
refs
commin_editmsg
head
config
description
index
package-lock.json

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# The development sqlite file
database/development.sqlite
