# Node modules
node_modules
hooks
info
logs
objects
refs
commin_editmsg
head
description
index
package-lock.json

# Adonis directory for storing tmp files
tmp

# The development sqlite file
database/development.sqlite
